*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif
}

body , html{ height: 100vh }

.card { box-shadow: 0px 0px 39px 5px #DDD; transition: .4s }

.card:hover{ transform: translateY(-8px) }

.card a{ z-index: 4 }

.card a,
button{ background-color: #343a40 !important; border: 0 }

.card a:focus{ box-shadow: none; border-color: transparent }



.card a:hover::after{ width: 100% }

.error{ top: 50%; left: 50%; transform: translate(-50% , -50%) }

.price{ color: yellow; background-color: #222 }

.shopingIcon span{
    top: -3px;
    right: -13px;
    background-color: yellow;
    width: 18px;
    height: 18px;
    border-radius: 100%;
    color: #222;
    text-align: center;
    line-height: 18px;
    font-size: .8em
}

.landing-page{
    width: 100%;
    height: 89.5vh;
    background: url('https://i.ibb.co/FmYyCZK/Pngtree-gray-blue-eyed-plush-cute-kitten-4186117.png') #891cc6;
    padding: 0 30px;
    background-repeat: no-repeat;
    background-position: 100% 35%
}

.landing-page h1{
    text-transform: uppercase;
    letter-spacing: 3px;
}

.landing-page::after{
    width: 50%;
    background-color: #481166;
    z-index: 1;
    border-right: 10px solid rgba(0,0,0,.3)
}

.card a::after{
    width: 0%;
    background-color: #6f477d;
    border-radius: 50rem;
    z-index: -1;
    transition: .3s
}

.img-container::after{ width: 100%; background-color: #481166a6 }

.card a::after,
.img-container::after,
.landing-page::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%
}

.landing-page > div{ z-index: 3 }

.landing-page p{ color: #bdbdbd; font-size: .9em }

.landing-page button{ width: 150px; background-color: yellow !important }

.addToCart{
    background-color: #6f477d !important;
}

.product-desc{
    font-size: .9em;
}