*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.card a,
button{
    background-color: #343a40 !important;
    border: 0
}

.card a:focus{
    box-shadow: none;
    border-color: transparent;
}

.error{
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}

.price{
    color: yellow;
    background-color: #222;
}

.shopingIcon span{
    top: -3px;
    right: -13px;
    background-color: yellow;
    width: 18px;
    height: 18px;
    border-radius: 100%;
    color: #222;
    text-align: center;
    line-height: 18px;
    font-size: .8em;
}